<center><img SRC="car.png" aling="center"/></center>

<center><h1 style="color: #00008B">Analisis Estadistico Descriptivo</h1></center>
<center><h2 style="color: #008B8B">Para venta de Autos</h2></center>
<center><h3 style="color: #8B008B">2021</h3></center>

<p style="text-aling:justify"> Este es un analisis para poder identificar las caracteristics de los autos que se venden y sus precios.

Para posterior se trabajara una prediccion con base en la regresion lineal a efectos de estimar en cuanto se puede vender mi carro, en funcion de los datos historicos de ventas.</p>

<h2 style="color: #2F4F4F">1. Carga y estandarizacion de los archivos de datos</h2>

<p> Que se hace en este apartado? </p>

<ol>
    <li>Importar las librerias que se necesitan</li>
    <li>Importar los set de datos de los CSV</li>
    <li>Revisar los encabezados de los DataFrames</li>
    <li>Unir los marcos de datos (DataFrames) </li>
</ol>


<h3 style="color: #483D8B">1.1 Importacion de librerias</h3>

In [1]:
# se realiza la importacion de las librerias necesarias para el EDA
import pandas as pd             #para manejo de dataFrames
import numpy as np              #para manejo de estructuras de datos como listas
import matplotlib as mpl        #para manejo de graficas
import matplotlib.pyplot as plt #para manejo de graficas

<h3 style="color: #483D8B">1.2 Carga de Archivos de Datos</h3>

In [10]:
cols = ["symboling", "normalized", "make", "fuel", "aspiration", "doors", 
       "style", "wheels", "engine", "base", "length", "width", "heingt",
       "curb", "engineType", "Cylinders", "system", "bore", "stroke",
       "compression", "horsepower", "peak", "City", "Higway", "price"]

dfAutos1 = pd.read_csv("autos.csv",  names=cols)
#dfAutos2 = pd.read_excel("Autos 1.xlsx")

In [11]:
dfAutos1.shape

(197, 25)

In [16]:
dfAutos1.head(10)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,Cylinders,system,bore,stroke,compression,horsepower,peak,City,Higway,price
3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
2,?,audi,gas,std,two,sedan,fwd,front,99.8,177.3,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
1,158,audi,gas,std,four,sedan,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
1,?,audi,gas,std,four,wagon,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [17]:
dfAutos1.tail(10)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,Cylinders,system,bore,stroke,compression,horsepower,peak,City,Higway,price
2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,171.7,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495
2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,...,109,mpfi,3.19,3.40,10.0,100,5500,26,32,9995
3,?,volkswagen,gas,std,two,convertible,fwd,front,94.5,159.3,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,11595
3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,165.7,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,9980
0,?,volkswagen,gas,std,four,sedan,fwd,front,100.4,180.2,...,136,mpfi,3.19,3.40,8.5,110,5500,19,24,13295
0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,180.2,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,183.1,...,109,mpfi,3.19,3.40,9.0,88,5500,25,31,12290
-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985

In [28]:
dfAutos1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197 entries, 3 to -2
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    197 non-null    object
 1   normalized   197 non-null    object
 2   make         197 non-null    object
 3   fuel         197 non-null    object
 4   aspiration   197 non-null    object
 5   doors        197 non-null    object
 6   style        197 non-null    object
 7   wheels       197 non-null    object
 8   engine       197 non-null    float64
 9   base         197 non-null    float64
 10  length       197 non-null    float64
 11  width        197 non-null    float64
 12  heingt       197 non-null    int64
 13  curb         197 non-null    object
 14  engineType   197 non-null    object
 15  Cylinders    197 non-null    int64
 16  system       197 non-null    object
 17  bore         197 non-null    object
 18  stroke       197 non-null    object
 19  compression  197 non-null    float64
 20  horsepower   197 non-null    object
 21  peak         197 non-null    object
 22  City         197 non-null    int64
 23  Higway       197 non-null    int64
 24  price        197 non-null    object
dtypes: float64(5), int64(4), object(16)
memory usage: 40.0+ KB

In [29]:
dfAutos1.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'system', 'bore', 'stroke',
       'compression', 'horsepower', 'peak', 'City', 'Higway', 'price'],
      dtype='object')

In [36]:
dfAutos1.describe()

,engine,base,length,width,heingt,Cylinders,compression,City,Higway
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,98.409645,173.450254,65.812690,53.628934,2534.796954,126.263959,10.128020,25.416244,30.984772
std,5.866965,12.213912,2.128306,2.438891,520.401159,42.282594,3.934467,6.566717,6.908644
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,94.500000,166.300000,64.000000,52.000000,2140.000000,97.000000,8.600000,19.000000,25.000000
50%,96.500000,172.600000,65.400000,53.900000,2405.000000,110.000000,9.000000,25.000000,30.000000
75%,100.400000,178.500000,66.500000,55.500000,2844.000000,141.000000,9.400000,30.000000,36.000000
max,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [18]:
dfAutos1.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'system', 'bore', 'stroke',
       'compression', 'horsepower', 'peak', 'City', 'Higway', 'price'],
      dtype='object')

In [19]:
dfAutos1.rename(columns = {'symboling':'simbolo'}, inplace=True)

In [20]:
dfAutos1.columns

Index(['simbolo', 'normalized', 'make', 'fuel', 'aspiration', 'doors', 'style',
       'wheels', 'engine', 'base', 'length', 'width', 'heingt', 'curb',
       'engineType', 'Cylinders', 'system', 'bore', 'stroke', 'compression',
       'horsepower', 'peak', 'City', 'Higway', 'price'],
      dtype='object')